
<div class="hero-content">
    <h2>Din väg till säker och ansvarsfull körning!</h2>
    <p>Ta det första steget mot körkortet idag – vi guidar dig hela vägen!</p>
    <a asp-action="Contact" asp-controller="Home" class="btn-primary">Kontakta Oss</a>
</div>  