<div class="map-image">
    <img src="/images/map.jpg" alt="Karta för upphämtningsplats" />
</div>


<div class="map-text">
    <h2 class="animate-text">Välj Upphämtningsplatsen</h2>
    <p>
        Du väljer upphämtningsplatsen – vi hämtar upp dig och startar övningskörningen direkt därifrån!
    </p>
    <a asp-action="Contact" asp-controller="Home" class="btn-explore">Kontakta Oss</a>
</div>

