<div class="container">
    <div class="service-card">
        <h3>
            B Körkort <br>
            Automat
        </h3>
        <p>Email: <a href="mailto:info@staffanstorpstrafikskola.se">info@staffanstorpstrafikskola.se</a></p>
        <p>Ring oss: <a href="tel:020455400"> 020 455 400</a></p>
    </div>
    <div class="service-card">
        <h3>
            B Körkort <br>
            Manuell
        </h3>
        <p>Email: <a href="mailto:info@staffanstorpstrafikskola.se">info@staffanstorpstrafikskola.se</a></p>
        <p>Ring oss: <a href="tel:020455400"> 020 455 400</a></p>
    </div>
    <div class="service-card">
        <h3>
            Läromedel bil <br>
            Komplett digitalt material
        </h3>
        <p>Email: <a href="mailto:info@staffanstorpstrafikskola.se">info@staffanstorpstrafikskola.se</a></p>
        <p>Ring oss: <a href="tel:020455400"> 020 455 400</a></p>
    </div>
</div>