<div class="contact-content">
    <div class="contact-image">
        <img src="/images/contactus.jpg" alt="Kontaktbild">
    </div>
    <div class="contact-info">
        <h2>Kontakta oss</h2>
        <p>Email: <a href="mailto:info@staffanstorpstrafikskola.se">info@staffanstorpstrafikskola.se</a></p>
        <p>Telefon: <a href="tel:020455400">020 455 400</a></p>
    </div>
</div>