
<section class="hero">
    @await Html.PartialAsync("~/Views/Shared/HomePartial/_heroPartial.cshtml")
</section>

<section id="services" class="services">
    @await Html.PartialAsync("~/Views/Shared/HomePartial/_servicesPartial.cshtml")
</section>

<section class="map-section">
    @await Html.PartialAsync("~/Views/Shared/HomePartial/_mapPartial.cshtml")
</section>

